@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Mulish", sans-serif;
  background-color: #8f57fd;
}

.header {
  display: flex;
  width: 100%;
  height: 8rem;
  padding: 0 3rem;
  justify-content: space-between;
}

.header__logo-container {
  display: flex;
  align-items: center;
  width: 20rem;
  height: 8rem;
}

.header__logo {
  display: block;
  max-width: 100%;
  height: auto;
}

.header__menu {
  position: relative;
}

.header__menu ul {
  display: none;
  position: absolute;
  top: 6rem;
  right: 0;
  list-style: none;
  width: 10rem;
  text-align: right;
}

.header__menu:hover ul, ul:hover {
  display: block;
}

.header__menu li {
  margin: 1rem 0;
}

.header__menu li a {
  color: white;
  text-decoration: none;
}

.header__menu li a:hover {
  text-decoration: underline;
}

.header__menu-profile {
  display: flex;
  height: 100%;
  align-items: center;
  align-self: center;
}

.header__menu-profile img {
  margin-right: 0.8rem;
  width: 4rem;
}

.header__menu-profile p {
  color: white;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30rem;
}

.main__title {
  margin-bottom: 2.5rem;
  color: white;
  font-size: 2.5rem;
}

.search-input {
  display: block;
  width: 70%;
  height: 5rem;
  padding-left: 2rem;
  border: 0.2rem solid white;
  border-radius: 3rem;
  color: white;
  font-family: "Mulish", sans-serif;
  font-size: 1.6rem;
  background-color: rgba(255, 255, 255, 0.1);
  outline: none;
}

::placeholder {
  color: white;
}

.categories__title {
  position: absolute;
  padding-left: 3rem;
  width: 100%;
  font-size: 2rem;
  color: #ffffff;
}

.carousel {
  position: relative;
  width: 100%;
  padding: 3rem;
  overflow-x: scroll;
}

.carousel__container {
  margin: 7rem 0;
  padding-bottom: 1rem;
  white-space: nowrap;
}

.carousel-item {
  position: relative;
  display: inline-block;
  width: 20rem;
  height: 25rem;
  margin-right: 1rem;
  border-radius: 2rem;
  overflow: hidden;
  background-color: white;
  color: white;
  font-size: 1.3rem;
  cursor: pointer;
  transition: 450ms all;
  transform-origin: center left;
}

.carousel-item:hover ~ .carousel-item {
  transform: translateX(10rem);
}

.carousel__container:hover .carousel-item {
  opacity: 0.3;
}

.carousel__container:hover .carousel-item:hover {
  transform: scale(1.5);
  opacity: 1;
}

.carousel-item__img {
  width: 20rem;
  height: 25rem;
  object-fit: cover;
}

.carousel-item__details {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  font-size: 1rem;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0;
  transition: 450ms opacity;
}

.carousel-item:hover .carousel-item__details {
  opacity: 1;
}

.carousel-item__icon {
  position: absolute;
  left: 1rem;
  bottom: 5.5rem;
  width: 2.8rem;
  height: 2.8rem;
}

.carousel-item__icon--second {
  left: 4rem;
}

.carousel-item__details--title {
  position: absolute;
  bottom: 3.2rem;
  left: 1rem;
}

.carousel-item__details--subtitle {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.footer {
  display: flex;
  align-items: center;
  height: 10rem;
  width: 100%;
  background-color: #8f57fd;
}

.footer a {
  padding-left: 3rem;
  font-size: 1.4rem;
  color: #ffffff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

@media only screen and (max-width:600px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }

  .footer a {
    margin-bottom: 1.5rem;
  }
}