@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Mulish', sans-serif;
}

header {
  width: 100%;
  height: 8rem;
  background-color: #21C08B;
}

.logo-container {
  display: flex;
  align-items: center;
  width: 20rem;
  height: 8rem;
  margin-left: 1rem;
}

.logo-container img {
  display: block;
  max-width: 100%;
  height: auto;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 18rem);
  background-image: linear-gradient(#21C08B, #834dfc);
  color: #ffffff
}

@keyframes pulse {
  0% {transform: scale(1);}
  50% {transform: scale(1.1);}
  100% {transform: scale(1);}
}

.main__title {
  font-size: 14rem;
}

.animated {
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

.pulse {
  animation-name: pulse;
  animation-duration: 1s;
}

.main__subtitle {
  font-size: 2.4rem;
}

.footer {
  display: flex;
  align-items: center;
  height: 10rem;
  width: 100%;
  background-color: #834dfc;
}

.footer a {
  padding-left: 3rem;
  font-size: 1.4rem;
  color: #ffffff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

@media only screen and (max-width:600px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer a {
    margin-bottom: 1.5rem;
  }
}